.header {
    display: flex;
    max-height: 50px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    min-height: 50px;
    border-bottom: 5px solid black;
    
}

.navbar #blog-title {
    margin-right: auto;
}

.navbar button {
    margin-left: auto;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode .card {
    border-color: white;
}

body.dark-mode .navbar {
    border-color: white;
}

body.dark-mode .pic-frame {
    border-color: white;
}




